<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VB Home</title>
    <link href="<%= asset('bs/css/bootstrap.min.css'); %>" rel="stylesheet" type="text/css" />
    <link href="<%= asset('bs/icons/bootstrap-icons.css'); %>" rel="stylesheet" type="text/css" />
    <script src="<%= asset('js/jquery-3.6.3.min.js'); %>"></script>
  </head>
  <body>

    <div class="container">