<div>
    <h6><%= name %></h6>

    <select class="form-select" multiple>
        <option value="port_0">port_0</option>
        <option value="port_1">port_1</option>
        <option value="port_2">port_2</option>
        <option value="port_3">port_3</option>
        <option value="port_4">port_4</option>
        <option value="port_5">port_5</option>
    </select>
</div>